
.civi-react-events {
    display: flex;
    padding-bottom: 20px;
}

.civi-react-events h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.civi-react-events-event {
  display: inline-block;
  background-color: #F1F2F3;
  clear: both;
  margin-bottom: 5px;
  align-content: center;
  padding-top: 2px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: solid 5px #555;
}

.civi-react-events-cell-date {
    display: block;
    float: left;
    width: 4em;
    margin: 5px 5px;
    border-radius: 10px;
    box-shadow: 3px 3px #aaa;
    margin-right: 10px;
  }

  .civi-react-events-weekday {
    text-align: center;
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 2px;
  }
  
  .civi-react-events-day {
    text-align: center;
    line-height: 1em;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
    border-bottom-left-radius:  10px;
    border-bottom-right-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .civi-react-events-day.multiday {
    font-size: 1.25em;
    line-height: 1.6em;
    font-weight: bold;
  }

  .civi-react-events-title {
    font-size: 1.25em;
    line-height: 1.5em
  }
 
  .civi-react-events-description {
    font-size: 1em;
    line-height: 1.25em;
    max-height: 2.5em;
    overflow: hidden;
    color: #888;
  }

  .civi-react-events-event:hover .civi-react-events-description {
    max-height: unset;
  }
